@import 'quill/dist/quill.snow.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

:root {
	--bg-color: #1a1d24;
	--text-color: #e2e2e2;
	--primary-color: #ff3e00;
	--secondary-color: #a4a9b8;
	--border-color: #333;
	--font-serif: 'Playfair Display', serif;
	--font-sans: 'Roboto', sans-serif;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: var(--font-sans);
	line-height: 1.6;
}

h1,
h2,
h3 {
	font-family: var(--font-serif);
	font-weight: 700;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

@media (max-width: 768px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.25rem;
	}
}

/* 모바일 메뉴가 열렸을 때 배경 스크롤을 막는 클래스 */
body.noscroll {
	overflow: hidden;
	/* 일부 모바일 브라우저를 위한 추가 설정 */
	position: fixed;
	width: 100%;
}
